* {
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
  height: 100vh;
  padding: 0;
  border: 1px solid;
  display: grid;
  grid-template-areas:
    "game"
    "score"
    "extra";
  grid-template-rows: 6fr 3fr 0.5fr;
}

.playarea {
  border: 1px solid;
  grid-area: game;
  display: grid;
  grid-template-areas:
    "info"
    "arena"
    "selection";
  grid-template-rows: 0.3fr 6fr 0.5fr;
}
.arena {
  grid-area: arena;
  display: grid;
  grid-template-areas:
  "player cpu"
  "w-l w-l";
grid-template-rows: 1fr 60px ;
grid-template-columns: 1fr 1fr;
}
.w-l {
  padding: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 2rem;
  grid-area: w-l;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player {
  grid-area: player;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player img {
  width: 100px;
}
.cpu {
  grid-area: cpu;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cpu img {
  width: 100px;
  transform: scaleX(-1);
}

.selection {
  margin: 10px;
  grid-area: selection;
}
.rps {
  margin: 0px 20px;
  padding: 10px;
  font-size: 1.5rem;
}

.scoreboard {
  border: 1px solid;
  grid-area: score;
  overflow-y: auto;
}
.placeholder {
  border: 1px solid;
  grid-area: extra;
}

@media (min-width: 768px) {
  .container {
    margin-top: 50px;
    max-width: 1300px;
    min-height: 1000px;
    max-height: 90vh;
    grid-template-areas:
      "game score"
      "game score"
      "extra extra";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 2fr 0.3fr;
  }
  .arena {
    grid-template-areas:
    "player cpu"
      "w-l w-l";
    grid-template-rows: 1fr 100px ;
    grid-template-columns: 1fr 1fr;
  }
  .player img {
    width: 300px;
  }
  .cpu img {
    width: 300px;
  }
}
