*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    
}
.introduction{
    text-align: center;
    padding: 0px 20px;
    max-width: 730px;
    
}
.introduction h1{
font-size: 2rem;
margin-bottom: 50px;
}

.introduction p{
font-size: 1rem;
}

.nameSelector{
   margin: 20px;
}

.nameField{
    height: 40px;
    width: 80%;
    font-size: 1.2rem;
}

.submitBtn{
    height: 40px;
    width: 45px;
    font-size: 1.2rem;
}

.submitBtn:hover{
    background-color: rgb(55, 238, 55);
}


@media (min-width: 768px) {
    
.introduction{
    text-align: center;
}
.introduction h1{
font-size: 3rem;
margin-bottom: 50px;
}

.introduction p{
font-size: 1.3rem;
}

.nameSelector{
   margin: 20px;
}

.nameField{
    height: 50px;
    width: 400px;
    font-size: 2rem;
}

.submitBtn{
    height: 50px;
    width: 80px;
    font-size: 2rem;
}


}